<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>HasQuoted</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/app.css'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="#" />
    
  </head>
      <header>
             <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5" id="nav">
              <a class="navbar-brand" href="/">QuoteForYou</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                  <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                  <% if(!currentuser) { %>                  
                  <a class="nav-item nav-link" href="/login">Login</a>
                  </ul>
                  <a class="nav-item nav-link " href="/signup">SignUp</a>
                  <% } else { %> 
                  <a class="nav-item nav-link" href="/Show">All Quotes</a>
                  <a class="nav-item nav-link" href="/intutive">Intutive Quote</a>
                  <a class="nav-item nav-link" href="/logout">Logout</a>  
                  <a class="nav-item nav-link" href="#">|</a>  
                  <span class="navbar-text">
                  <a>Signed in as <%= currentuser.username %></a>
                  </span>
                  
                  <% } %>
                </div>
              </div>
            </nav>

        </header>        
<body>
