<%- include("partials/header") -%>


<header id="game-header"> Feeling intutive,Try a random quote from over 1000+ quotes ! </header>  
      <div id = "page-container">
           <div id="content-wrap">  

            <div id="game-title"> Your Quote is </div>

            
            <div class="box middle center" id='card' > 
            
                
                
            </div>
            <button class="btn btn-lg btn-info" id="game-button">Try</button>
            <button class="btn btn-lg btn-info" id="game-button-clear">Clear</button>
    </div>
    
</div>

<script async src="/ajax-game.js" ></script>
 <%- include("partials/footer") -%>
