<%- include("partials/header") -%>


 <header id="signup"><h1>SignUp page</h1></header>
 <div class="container">
    <div id = "page-container"></div>
    <form action="/signup"  METHOD="POST">
    <input type="text" name="username" placeholder="username"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="SignUp">
</form>

    </div>
</div>

<%- include("partials/footer") -%>